/* Police Arabic Typesetting */
@font-face {
    font-family: 'Arabic Typesetting';
    src: url('/base_hospital_management/static/src/fonts/arabtype.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Police Adobe Devanagari */
@font-face {
    font-family: 'Adobe Devanagari';
    src: url('/base_hospital_management/static/src/fonts/AdobeDevanagari-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Police Garamond */
@font-face {
    font-family: 'Garamond';
    src: url('/base_hospital_management/static/src/fonts/GARA.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

